# artifacts
__pycache__
.mypy_cache
.pytest*
.venv
*.egg-info
*/build/*
*/dist/*
uv.lock


# misc
.coverage
.vscode
coverage.json
coverage.xml
htmlcov
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml
